/* Styles for the recipe container */
.breakfast-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    overflow-x: auto;
  }
  
  .breakfast-container > div {
    flex-basis: calc(33.33% - 20px); /* Set the width of each recipe to one-third minus spacing */
    margin: 10px;
    min-width: 0;
    min-height: 0;
  }
  
  /* Styles for each recipe element */
  .breakfastrecipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #fff;
  }
  
  /* Styles for recipe images (adjust as needed) */
  .breakfastrecipe-container img {
    width: 100px; /* Adjust the width as needed */
    height: auto;
    border-radius: 4px;
  }
  